{% extends 'base.html' %}
{% load static %}
{% block title %}Social Media Platforms{% endblock %}

{% block content %}
<div class="container">
    {% include 'partials/_alerts.html' %}

    <div class="row mt-5 mb-3">
        <div class="col-6">
            <h4 class='mb-3 mt-2'>Links: {{ links_count }}</h4>
        </div>
        <div class="col-6 d-flex">
            <span class='ms-auto mt-2'><a href="{% url 'add_link' %}" class='btn btn-primary'><i class="fas fa-plus"></i> Add Link</a></span>
        </div>
    </div>
    {% for link in links %}
        {% if link.image %}
        <div class="card shadow-sm mb-3">
          <div class="row g-0">
            <div class="col-3 col-md-2">
                <img src="{{ link.image.url }}" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-7 col-md-9">
              <div class="card-body py-1 pl-0">
                <h5 class="mt-2">{{ link.title }}</h5>
                <p class="mb-1">{{ link.description }}</p>
                <p class="card-text"><small class="text-muted">{{ link.url }}</small></p>
              </div>
            </div>
            <div class="col-2 col-md-1">
              <div class="row">
                <div class="col-12">
                  <div class="form-check form-switch mt-2">
                    <input class="form-check-input active_link_slider" type="checkbox" id="{{ link.id }}" {% if link.is_active %} checked {% endif %}>
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <a href="{% url 'edit_link' link.id %}" class='text-secondary'><i class="fas fa-cog ms-1 mt-1 font-size-13"></i></a>
                </div>
                <div class="col-12 mt-2">
                  <a class="text-secondary" data-bs-toggle="collapse" href="#delete-{{ link.id }}" aria-expanded="false">
                    <i class="fas fa-trash-alt font-size-13 ms-1 mb-3"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="delete-{{ link.id }}">
            <div>
              <p class="text-center font-size11 mt-2 mb-1">Delete this link forever?</p>
              <div class="row">
                <div class="col-10 offset-1 col-md-8 offset-md-2">
                  <div class="d-grid gap-2 mb-3">
                    <button class='btn btn-danger py-1 delete-link-btn' id='{{ link.id }}'>
                      <span class="spinner-border spinner-border-sm me-2 d-none deleteSpinner-{{ link.id }}" role="status" aria-hidden="true"></span>
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="card shadow-sm mb-3">
          <div class="row g-0">
            <div class="col-10 col-md-11">
              <div class="card-body py-1">
                <h5 class="mt-2">{{ link.title }}</h5>
                <p class="mb-1">{{ link.description }}</p>
                <p class="card-text"><small class="text-muted">{{ link.url }}</small></p>
              </div>
            </div>
            <div class="col-2 col-md-1">
              <div class="row">
                <div class="col-12">
                  <div class="form-check form-switch mt-2">
                    <input class="form-check-input active_link_slider" type="checkbox" id="{{ link.id }}" {% if link.is_active %} checked {% endif %}>
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <a href="{% url 'edit_link' link.id %}" class='text-secondary'><i class="fas fa-cog ms-1 mt-1 font-size-13"></i></a>
                </div>
                <div class="col-12 mt-2">
                  <a class="text-secondary" data-bs-toggle="collapse" href="#delete-{{ link.id }}" aria-expanded="false">
                    <i class="fas fa-trash-alt font-size-13 ms-1 mb-3"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="delete-{{ link.id }}">
            <div>
              <p class="text-center font-size11 mt-2 mb-1">Delete this link forever?</p>
              <div class="row">
                <div class="col-10 offset-1 col-md-8 offset-md-2">
                  <div class="d-grid gap-2 mb-3">
                    <button class='btn btn-danger py-1 delete-link-btn' id='{{ link.id }}'>
                      <span class="spinner-border spinner-border-sm me-2 d-none deleteSpinner-{{ link.id }}" role="status" aria-hidden="true"></span>
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<script src="{% static 'js/links.js' %}"></script>
{% endblock %}
