{% extends 'base.html' %}
{% load static %}
{% block title %}Social Media Platforms{% endblock %}

{% block content %}
{% if links_type == 'premium' and membership == False %}
  <!-- User has no premium -->
  <div class="col-12 col-md-10 col-xxl-8 offset-md-1 offset-xxl-2 mb-2 mt-4 px-3">
    
    <!-- What are premium links -->
    <div class="card card-body text-center py-4 mt-4 mb-4">
      <h5 class='fw-bold font-size-11'>Password Protected Links</h5>
      <p class='mb-1'>If you want to <b>restrict access to your content</b>, use this feature.</p>
      <p class='mb-1'>You can treat it as your vault and only <b>authorized users</b> will have access to your password protected links.</p>
    </div>
  
    <div class="card card-body text-center">
        <h4 class='fw-bold'>Get premium or active a free trial to access Premium Links!</h4>

        <span class='text-muted'>Purchase premium for $3.5/mo to get advanced analytics, Premium Links feature and much more!</span>

        <div class="d-grid gap-2 mt-4"> 
            <a href="{% url 'join' %}" class='btn btn-success fw-bold font-size-12'>Get Premium or Active Free Trial</a>
        </div>
    </div>
  </div>
{% else %}
<!-- User has premium -->
<div class="mx-3">
  <div class="row mx-0">
    <div class="col-12 col-md-8 col-xxl-6 offset-md-2 offset-xxl-3 p-0 mt-3">
      <div class="row">
        <div class="col-6">
          <a href='{% url "profile_preview" %}' class='text-dark d-flex align-items-end'>
            <i class="fas fa-chevron-left pb-1"></i> Back To Profile
          </a>
        </div>
        <div class="col-6 text-end">
          {% if links_type == 'premium' %}
            <a class="btn btn-light border border-dark py-1 px-3" data-bs-toggle="collapse" href="#collapseSettings" aria-expanded="false">
              <i class="fas fa-cog"></i>
              Settings
            </a>
          {% endif %}
        </div>
      </div>
      

      <!-- Settings collapse -->
      <div class="collapse" id="collapseSettings">
        <div class="card card-body my-4">
          <div class="col-10 offset-1 col-lg-8 offset-lg-2 pt-1 pb-2">
            <h3 class="fw-bold font-size-11">Premium Links Settings</h3>

            <div class="form-check form-switch mt-2">
              <input class="form-check-input" type="checkbox" role="switch" id="displayPremiumLinks" {% if display_premium_links_switch_value %} checked {% endif %}>
              <label class="form-check-label" for="displayPremiumLinks">Display premium links on your profile?</label>
            </div>

            {% if links_type == 'premium' %}
            <div class='mt-4'>
              <span class='mb-1'>
                {% if set_password %} 
                  Set password for your Premium Links
                {% else %}
                  Change password for your Premium Links
                {% endif %}
              </span>

              <form method='POST'>
                {% csrf_token %}
                <div class="input-group mt-1">
                  <input type="password" name='premium_links_password' placeholder='Password' id='passwordField' class='form-control passwordField'>
                  <div class="input-group-append">
                    <button class="btn border showPasswordToggle" type="button" id="button-addon2"><i class="far fa-eye"></i></button>
                  </div>
                </div>
                <div class='d-flex'>
                  <input type="submit" class='btn btn-dark py-1 px-3 mt-2 ms-auto' value='Save'>
                </div>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% include 'partials/_alerts.html' %}

      <div class="row mt-3 mb-3">
          <div class="col-6">
              <h2 class="fw-bold mt-2 mb-1">Your {% if links_type == 'premium' %} Premium {% endif %} Links</h2>

              {% if links_type == 'premium' %}  
              <p class="mb-0 mt-0 pt-0 font-size-09" data-bs-toggle="collapse" data-bs-target="#whatArePremiumLinksCollapse" aria-expanded="false" aria-controls="collapseExample" style='cursor: pointer;'>
                <i class="far fa-question-circle font-size-08 me-1" aria-hidden="true"></i>What are premium links
              </p>
              {% endif %}
          </div>
          {% if links_type == 'premium' %}
          <div class="col-6 d-flex">
              <span class='ms-auto mt-2'><a href="{% url 'add_premium_link' %}" class='btn btn-primary py-1 px-3 font-size-11 mt-1'><i class="fas fa-plus me-1"></i> Add Link</a></span>
          </div>
          {% else %}
          <div class="col-6 d-flex">
            <span class='ms-auto mt-2'><a href="{% url 'add_link' %}" class='btn btn-primary py-1 px-3 font-size-11 mt-1'><i class="fas fa-plus me-1"></i> Add Link</a></span>
        </div>  
        {% endif %}
          
      </div>

      <!-- What are premium links collapse -->
      <div class="collapse my-3" id="whatArePremiumLinksCollapse">
        <div class="card card-body text-center py-4">
          <h5 class='fw-bold font-size-11'>Password Protected Links</h5>
          <p class='mb-1'>If you want to <b>restrict access to your content</b>, use this feature.</p>
          <p class='mb-1'>You can treat it as your vault and only <b>authorized users</b> will have access to your password protected links.</p>
        </div>
      </div>

      <!-- Set password  -->
      {% if set_password %} 
      <div class='card card-body text-center py-4 my-3'>
        <div class='col-10 offset-1 col-lg-8 offset-lg-2 pt-1 pb-2'>
          <h4 class='fw-bold font-size-12'>Set Password For Your Links</h4>
          <p class='text-muted font-size-09 mb-0'>Set a password, so your links can be protected with it. </p>
          <p class='text-muted font-size-09 mb-1'>Otherwise, they are not visible on your profile.</p>
          <form method='POST'>
            {% csrf_token %}
            <div class="input-group mt-1">
              <input type="password" name='premium_links_password' placeholder='Password' id='passwordField' class='form-control passwordField'>
              <div class="input-group-append">
                <button class="btn border showPasswordToggle" type="button" id="button-addon2"><i class="far fa-eye"></i></button>
              </div>
            </div>
            <div class='d-flex'>
              <input type="submit" class='btn btn-primary py-1 px-3 mt-2 ms-auto' value='Save Password'>
            </div>
          </form>
        </div>
      </div>
      {% endif %}

      <!-- Links  -->
      {% if links %}
        <div class="links">
          {% for link in links %}
              {% if link.image %}
              <div class="card shadow-sm mb-3" data-index="{{link.id}}" data-position="{{link.position}}">
                <div class="row g-0">
                  <div class="col-2 col-md-1 p-0 p-2 m-0 m-0">
                      <img src="{{ link.image.url }}" class="img-fluid rounded" style="max-height: 150px!important; width: auto;" alt="...">
                  </div>
                  <div class="col-8 col-md-10">
                    <div class="card-body py-1">
                      <!-- Title -->
                      <h5 class="mt-2 mb-1 fw-bold">{{ link.title }}</h5>

                      <!-- Description -->
                      <p class="mb-2">{{ link.description }}</p>

                      <div class="font-size-09 mb-2">
                        <!-- Animation -->
                        {% if link.animation.name != "None" %}
                          <p class='card-text mb-1' style='text-transform: capitalize;'>
                            <i class="far fa-eye pe-1 text-dark"></i>
                            {{link.animation}}
                          </p>
                        {% endif %}

                        <!-- YT embed -->
                        {% if link.display_as_yt_embed %}
                          <p class='card-text mb-1'><i class="fab fa-youtube pe-1" style='color: #c4302b;'></i> Display as youtube embed</p>
                        {% endif %}

                        <!-- Link -->
                        <p class="card-text"><small class="text-muted">
                          <i class="fas fa-link text-muted pe-1"></i>
                          {{ link.url }}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 col-md-1">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-check form-switch mt-2">
                          <input class="form-check-input active_link_slider" type="checkbox" id="{{ link.id }}" {% if link.is_active %} checked {% endif %}>
                        </div>
                      </div>
                      <div class="col-12 mt-2">
                        <a href="{% url 'edit_link' links_type link.id %}" class='text-secondary'><i class="fas fa-cog ms-1 mt-1 font-size-13"></i></a>
                      </div>
                      <div class="col-12 mt-2">
                        <a class="text-secondary" data-bs-toggle="collapse" href="#delete-{{ link.id }}" aria-expanded="false">
                          <i class="fas fa-trash-alt font-size-13 ms-1 mb-3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="collapse" id="delete-{{ link.id }}">
                  <div>
                    <p class="text-center font-size11 mt-2 mb-1">Delete this link forever?</p>
                    <div class="row">
                      <div class="col-10 offset-1 col-md-8 offset-md-2">
                        <div class="d-grid gap-2 mb-3">
                          <button class='btn btn-danger py-1 delete-link-btn' id='{{ link.id }}'>
                            <span class="spinner-border spinner-border-sm me-2 d-none deleteSpinner-{{ link.id }}" role="status" aria-hidden="true"></span>
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
              <!-- Premium Links -->
              <div class="card shadow-sm mb-3" data-index="{{link.id}}" data-position="{{link.position}}">
                <div class="row g-0">
                  <div class="col-10 col-md-11">
                    <div class="card-body py-1">
                      <!-- Title -->
                      <h5 class="mt-2 mb-1 fw-bold">{{ link.title }}</h5>

                      <!-- Description -->
                      <p class="mb-2">{{ link.description }}</p>

                      <div class="font-size-09 mb-2">
                        <!-- Animation -->
                        {% if link.animation.name != "None" %}
                          <p class='card-text mb-1' style='text-transform: capitalize;'>
                            <i class="far fa-eye pe-1 text-dark"></i>
                            {{link.animation}}
                          </p>
                        {% endif %}

                        <!-- YT embed -->
                        {% if link.display_as_yt_embed %}
                          <p class='card-text mb-1'><i class="fab fa-youtube pe-1" style='color: #c4302b;'></i> Display as youtube embed</p>
                        {% endif %}

                        <!-- Link -->
                        <p class="card-text"><small class="text-muted">
                          <i class="fas fa-link text-muted pe-1"></i>
                          {{ link.url }}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 col-md-1">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-check form-switch mt-2">
                          <input class="form-check-input active_link_slider" type="checkbox" id="{{ link.id }}" {% if link.is_active %} checked {% endif %}>
                        </div>
                      </div>
                      <div class="col-12 mt-2">
                        <a href="{% url 'edit_link' links_type link.id %}" class='text-secondary'><i class="fas fa-cog ms-1 mt-1 font-size-13"></i></a>
                      </div>
                      <div class="col-12 mt-2">
                        <a class="text-secondary" data-bs-toggle="collapse" href="#delete-{{ link.id }}" aria-expanded="false">
                          <i class="fas fa-trash-alt font-size-13 ms-1 mb-3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="collapse" id="delete-{{ link.id }}">
                  <div>
                    <p class="text-center font-size11 mt-2 mb-1">Delete this link forever?</p>
                    <div class="row">
                      <div class="col-10 offset-1 col-md-8 offset-md-2">
                        <div class="d-grid gap-2 mb-3">
                          <button class='btn btn-danger py-1 delete-link-btn' id='{{ link.id }}'>
                            <span class="spinner-border spinner-border-sm me-2 d-none deleteSpinner-{{ link.id }}" role="status" aria-hidden="true"></span>
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
          {% endfor %}
        </div>
      {% else %}
        {% if not set_password %} 
            <div class="text-center mt-5">
              <h5>Your don't have any links to display</h5>
              <p>Click the button above to add one.</p>
            </div>
        {% endif %}
      {% endif %}
      
    </div>
  </div>
</div>
{% endif %}
<input type="hidden" data-type='{{ links_type }}' id='links-type'>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script>
  const link_type = document.querySelector('#links-type').dataset.type

  // CSRF token
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');


  $(document).ready(function () {
    $('.links').sortable({
      update: function (event, ui) {
        $(this).children().each(function (index) {
          if ($(this).attr('data-position') != (index+1)) {
            $(this).attr('data-position', (index+1)).addClass('updated')
          }
        })
        saveNewPositions()
      }
    });
  })

  function saveNewPositions() {
    var positions = []
    $('.updated').each(function() {
      positions.push([$(this).attr('data-index'), $(this).attr('data-position')])
      $(this).removeClass('updated')
    })


    fetch('/profile/links/change_positions', {
      body: JSON.stringify({'positions': positions, 'links_type': link_type}),
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json; charset=UTF-8',
        'X-CSRFToken': csrftoken
      },
    }).then(res=>res.json()).then(data=>{
      console.log('data', data)
      if(data.error) {
        alert(data.error)
      }
    }); 
  }

// Show password toggle
const showPasswordToggle = document.querySelectorAll('.showPasswordToggle')
const passwordFields = document.querySelectorAll('.passwordField')

function handleToggleInput(e) {
    if (showPasswordToggle[0].innerHTML == '<i class="far fa-eye" aria-hidden="true"></i>') {

        showPasswordToggle.forEach(item=> {
          item.innerHTML = '<i class="far fa-eye-slash"></i>'
        })
        
        passwordFields.forEach(item=> {
          item.setAttribute('type', 'text')
        })
    } else {
        showPasswordToggle.forEach(item=> {
          item.innerHTML = '<i class="far fa-eye"></i>'
        })

        passwordFields.forEach(item=> {
          item.setAttribute('type', 'password')
        })
    }
}
if (showPasswordToggle) {
  showPasswordToggle.forEach(item=> {
    item.addEventListener('click', handleToggleInput)
  })
}
</script>
<script src="{% static 'js/links.js' %}"></script>
{% endblock %}
