<nav class="navbar px-0 mx-0 navbar-expand-md navbar-light bg-light py-1 shadow-sm sticky-top row">

<!-- Log In or Logout part -->
    <a class="nav-link py-0 col-4 d-flex" href="{% url 'login' %}">
        <span class="link fw-bold mx-auto text-dark" style='letter-spacing: 0.5px;'>Log In</span>
    </a>

    <!-- Logo Part -->
    <a class="col-4 d-flex" href="https://linkshub.io">
        <img src="https://static.wikia.nocookie.net/dogelore/images/2/26/Walter.png/revision/latest?cb=20190617095152" alt="" style="width: auto!important; height: 35px;" class="mx-auto">
    </a>

    <!-- Sign In or Settings part -->
    <a class="nav-link py-0 col-4 d-flex" href="{% url 'register' %}">
        <span class="link fw-bold mx-auto text-dark" style='letter-spacing: 0.5px;'>Sign Up!</span>
    </a>
</nav>
