<div class="d-none alert alert-dark bg-light text-black alert-dismissable fixed-bottom m-0 p-1" id='cookie_banner'>
    <div class="container">
        <div>
            <span style="font-size: 0.8rem;" class="pt-1">LinksHub.io uses cookies to give you the best possible experience.<a href="privacy_policy" class="link"> Read More</a></span>

            <!-- Accept cookie button -->
            <button type="button" class="close" data-dismiss="alert" id='cookieBtn'>
                <span>×</span>
            </button>

        </div>
    </div>
</div>
