<span class='my-1'>
    <a href="{% url 'edit' %}" class='text-dark'>Edit Profile</a>
</span>
<span class='my-1'>
    <a href="{% url 'change_password' %}" class='text-dark'>Change Password</a>
</span>
<span class='my-1'>
    <a href="#" class='text-dark'>Privacy</a>
</span>
<span class='my-1'>
    <a href="{% url 'membership' %}" class='text-dark'>Membership</a>
</span>
<span class='my-1'>
    <a href="{% url 'logout' %}" class='text-dark'>Logout</a>
</span>
<span class='my-1'>
    <a href="#" class='text-danger'>Delete Account</a>
</span>   