{% extends 'base.html' %}

{% load static %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="mx-3 mt-4">
    <div class="row mt-3 mb-2 ms-1">
        <a href='{% url "profile_preview" %}' class='text-dark'><i class="fas fa-chevron-left"></i> Back To Profile</a>
    </div>
    
    <div class="row">
        <div class="col-12 col-lg-3 col-xl-3 col-xxl-2 offset-xxl-1 appearance-left-panel order-1 order-lg-0 mt-5 mt-lg-0">
            <div class="card card-body text-center">
                {% include 'partials/_settings_sidebar.html' %}
            </div>
        </div>

        <div class="col-12 col-lg-9 col-xl-9 col-xxl-8 mt-2 mt-lg-0">
            {% include 'partials/_alerts.html' %}
            <div class="card card-body">
                <form method='POST' enctype="multipart/form-data" id='edit-form'>
                    {% csrf_token %}
                    <input type="file" class='d-none' id='imageField' name='image' accept='.jpg, .png' data-bs-toggle="modal" data-bs-target="#cropModal">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-end">
                            <img src="{{profile_pic}}" class='img-fluid rounded-circle mt-1' style='height: 50px; width: 50px;' id='imgPreview'>
                        </div>
                        <div class="col-9 col-md-6">
                            <p class='fw-bold mb-0'>{{ username }}</p>
                            <a href="#" class='fw-bold' onclick="document.getElementById('imageField').click(); return false" id='profile_img_change'>Change Profile Picture</a>
                            <div class="image-feedback invalid-feedback" style='display:none;'>
                            </div>
                            <p class='m-0 text-success fw-bold d-none ' id='profile-picture-info-msg'>Save changes to apply your new profile picture.</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-md-3 d-md-flex justify-content-end mt-1">
                            <span class='fw-bold'>Name</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <input type="text" name='name' placeholder='Name' id='nameField' class='form-control' value='{{form.name.value}}'>
                            <div class="name-feedback invalid-feedback" style='display:none;'>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-12 col-md-3 d-md-flex justify-content-end mt-1">
                            <span class='fw-bold'>Description</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <textarea class='form-control' name='description' id='descriptionField'>{{ form.description.value }}</textarea>
                            <div class="description-feedback invalid-feedback" style='display:none;'>{{ form.description.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3 d-flex justify-content-end mt-1">
                        </div>
                        <div class="col-12 col-md-6">
                            <button class='btn btn-primary py-1 fw-bold' id='submitBtn'>
                                <span class="spinner-border spinner-border-sm me-2 d-none" id='submitSpinner' role="status" aria-hidden="true"></span>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cropModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Crop your profile picture</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="image-box"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary w-100" id="crop-btn" type="button" data-bs-dismiss="modal">Crop</button>
        </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="{% static 'js/edit.js' %}"></script>

{% endblock %}
