{% extends 'base.html' %}

{% load static %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="mx-3 mt-4">
    <div class="row mt-3 mb-2">
        <div class="col-lg-10 offset-lg-1">
            <a href='{% url "profile_preview" %}' class='text-dark'><i class="fas fa-chevron-left"></i> Back To Profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-3 col-xxl-2 offset-xxl-1 appearance-left-panel order-1 order-lg-0 mt-5 mt-lg-0">
        
            <div class="card card-body text-center">
                {% include 'partials/_settings_sidebar.html' %}
            </div>
        </div>

        <div class="col-12 col-lg-9 col-xxl-8 mt-2 mt-lg-0">
            {% include 'partials/_alerts.html' %}
            <div class="card card-body">
                {% if cancel_at_period_end %}
                Your membership will run to the end of your billing cycle.
                {% elif membership %}
                <form action="{% url 'membership' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="Cancel Membership?">
                </form>
                {% else %}
                <a href="{% url 'join' %}">Get a membership</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}
