.showPasswordToggle:focus {
outline: none;
box-shadow: none;
}


.index-image-padding {
    padding: 3% 10%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .index-image-padding {
        padding: 0;
    }
}

/* Gradient text classes */
.text-gradient-pink-blue {
    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 2.9rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}

.text-gradient-mint-blue {
    background: -webkit-linear-gradient(-70deg, #24C6DC 0%, #514A9D 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 2.9rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}

.text-gradient-purple-coral {
    background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 2.9rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}

.text-gradient-coral-yellow-dark {
    background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 2.9rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}