{% extends 'base_auth.html' %}
{% load static %}
{% block title %}LinksHub.io{% endblock %}
{% block content %}

<!-- Header -->
<div class="container pb-5">
    <div class="row mb-4 px-0">
        <div class="col-12 my-5 d-flex align-items-center justify-content-center">
            <div data-aos="fade-down" data-aos-duration="800">
                <h1 class='text-center fw-bold mt-5' style="font-size: 3.5rem; font-family: 'Work Sans', sans-serif;">All Your Content in One Link</h1>
                <p class='text-center fw-bold mt-1 mb-1'>You only get one link on your Instagram bio. Make it go into unlimited directions.</p>
                <div class='text-center mt-4'>
                    <a href="{% url 'register' %}" class='btn btn-primary btn-lg border border-0 fw-bold px-5' style='letter-spacing: 0.5px; background-image: linear-gradient(to right, #006eff, #0076ff, #007eff, #0085ff, #008cff);' id='get-started-btn'>Get Started For Free <i class="fas fa-arrow-circle-right ms-2" id='get-started-btn-arrow'></i></a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- What is LinksHub? -->
<div class="py-4 mb-4 bg-light" data-aos="fade-up" data-aos-duration="800">
    <div class="container my-3">
        <!-- <p class='text-center fw-bold'>You can put only one link in your instagram. Make it go into unlimited directions.</p> -->
        <h5 class='text-center fw-bold pb-2 text-gradient-mint-blue' style="font-family: 'Work Sans', sans-serif; letter-spacing: 1px;">What is Linkshub?
        </h5>
        <div class="row my-5 px-0">
            <div class="col-12 col-md-6">
                <img src="https://steamuserimages-a.akamaihd.net/ugc/1701780966243068769/953B5469D8306D6D7D064F01320D903DA319CE40/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="" class='img-fluid mb-3 rounded'>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center text-center text-md-start">
                <div>
                    <h4 class='fw-bold'>Take Your Audience Everywhere</h4>
                    <p>Instagram limits you to one permanent link in your profile’s bio. <br> <strong>LinksHub allows you to add multiple links that send your followers to your all content.</strong></p>
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <img src="https://steamuserimages-a.akamaihd.net/ugc/1701780966243068769/953B5469D8306D6D7D064F01320D903DA319CE40/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="" class='img-fluid mb-3 rounded'>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div class="py-5 mb-3">
    <div class="container my-3">
        <div class="row px-0">
            <h5 class='text-center fw-bold pb-4 text-gradient-pink-blue' data-aos="fade-up" data-aos-duration="800" style="font-family: 'Work Sans', sans-serif; letter-spacing: 1px;">Features</h5>
            <div class="col-12 col-md-4 d-flex text-center text-md-end" data-aos="fade-right" data-aos-duration="800">
                <div class='mt-2 mt-md-4 mb-4'>
                    <div class="col-12 mb-5 pb-md-2">
                        <h5 class='fw-bold'>Customize Your Profile <i class="fas fa-palette ps-1" style='color: #9160c5;'></i></h5>
                        <p>Make it look as you love it.</p>
                    </div>
                    <div class="col-12 my-5">
                        <h5 class='fw-bold'>Get Analytics <i class="fas fa-chart-area ps-1" style='color: #8563cb'></i></h5>
                        <p>Track where your followers are clicking, post it more often and skyrocket 🚀</p>
                    </div>
                    <div class="col-12 mt-5">
                        <h5 class='fw-bold'>Web-based <i class="fab fa-chrome ps-1" style='color: #8166ce;'></i></i></h5>
                        <p>No need to install anything, just access anytime via browser from any device.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="800">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/IPhone_X_vector.svg/1200px-IPhone_X_vector.svg.png" class="d-block rounded" alt="..." style='max-height: 65vh; width: auto;'>
            </div>
            <div class="col-12 col-md-4 d-flex text-center text-md-start" data-aos="fade-left" data-aos-duration="800">
                <div class='mt-5 mt-md-4'>
                    <div class="col-12 mb-5">
                        <h5 class='fw-bold'><i class="fas fa-hashtag pe-1" style='color: #726bd5;'></i> Social Media Platforms</h5>
                        <p>Help your fans discover your other social media accounts.</p>        
                    </div>
                    <div class="col-12 my-5">
                        <h5 class='fw-bold'><i class="fas fa-unlock-alt pe-1" style='color: #726bd5;'></i> Links on Password</h5>
                        <p>Give a password to your special fans and let them enjoy your premium content.</p>
                    </div>
                    <div class="col-12 mt-5">
                        <h5 class='fw-bold'><i class="fas fa-heart pe-1" style='color: #726bd5;'></i> Works Everywhere</h5>
                        <p>You can use LinksHub on every social media platform. It works everywhere.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Responsiveness -->
<div class="container py-5 my-5" data-aos="fade-up" data-aos-duration="800">
    <div class="row mb-4 px-0">
        <div class="col-12 text-center">
            <h4 class='text-gradient-coral-yellow-dark fw-bold pb-1' style="font-family: 'Work Sans', sans-serif; letter-spacing: 1px;">Looks Perfect on Every Device</h4>
            <p class='pb-2 fw-bold'>Everyone will get to your content.</p>
        </div>
        <div class="col-12 text-center">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/1701780966243068769/953B5469D8306D6D7D064F01320D903DA319CE40/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="" id='index-image-padding' class='img-fluid'>
        </div>
    </div>
</div>

<!-- Ready to get started? -->
<div style='background: -webkit-linear-gradient(-70deg, #fbe579 0%, #ff7878 100%);'>
    <div class="container py-5 text-center text-light">
        <h2 class='fw-bold' style="font-family: 'Work Sans', sans-serif; letter-spacing: 1px;">Ready to get started?</h2>
        <span class='fw-bold'>You only get one link on your Instagram bio. Make it go into unlimited directions.</span>
        <br>
        <a href="{% url 'register' %}" class='btn btn-light  btn-lg fw-bold px-5 fw-bold mt-4' style='letter-spacing: 0.5px; color: #fe9b79;' id='get-started-btn'  data-aos="zoom-in"
        data-aos-duration="500" data-aos-anchor-placement="top-bottom">Start For Free <i class="fas fa-arrow-circle-right ms-1" id='get-started-btn-arrow'></i></a>
    </div>
</div>

<!-- Footer -->
<div class="py-5">
    <div class="container">
        <div class="row px-0">
            <div class="col-4">
                <a href="#" class='text-secondary fw-bold font-size-11'>Home</a>
            </div>
            <div class="col-4">
                <a href="#" class='text-secondary fw-bold font-size-11'>Policy</a>
            </div>
            <div class="col-4">
                <a href="#" class='text-secondary fw-bold font-size-11'>Terms</a>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <span class='text-secondary fw-bold font-size-1'>Made By Krystian Czajkowski</span>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    // Arrow animation
    var get_started_btn = $('#get-started-btn')
    var get_started_btn_arrow = $('#get-started-btn-arrow')

    $(function(){
        get_started_btn.hover(function() {
            get_started_btn_arrow.animate({ 'padding-left': '3px', 'margin-right': '-3px' }, 300);
        }, function() {
            get_started_btn_arrow.animate({ 'padding-left': '0px', 'margin-right': '0px' }, 300);
        });     
    });

    // Animations
    AOS.init();
</script>
{% include 'partials/_cookieBanner.html' %}
{% endblock %}
