{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Create a free account{% endblock %}


{% block content %}
<!-- reCAPTCHA API -->
<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
<script>
  //global grecaptcha
  grecaptcha.ready(function() {
    grecaptcha.execute('{{recaptcha_site_key}}', {action: "/contact/"}).then(function(token) {
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>

<div class="container mt-4">
    <div class="row mt-5">
        <div class="col-md-6 d-none d-md-block">obrazek</div>
        <div class="col-12 col-md-6">
            <form method='POST' id='registration_form'>
                {% csrf_token %}
                <h5 class='mb-0 fw-bold'>Create a free account.</h5>
                <span class='fw-bold text-muted mb-2 font-size-09'>LinksHub.io - All Your Content in One Link</span><br>

                <!-- Username -->
                <div class="mt-2">
                    <input type="text" name='username' placeholder='Username' id='usernameField' class='form-control'>
                </div>
                <div class="username-feedback invalid-feedback" style='display:none;'>
                </div>

                <!-- Email -->
                <div class="mt-1">
                    <input type="email" name='email' placeholder='Email' id='emailField' class='form-control'>
                </div>
                <div class="email-feedback invalid-feedback" style='display:none;'>
                </div>

                <!-- Password -->
                <div class="input-group mt-1">
                  <input type="password" name='password' placeholder='Password' id='passwordField' class='form-control'>
                  <div class="input-group-append">
                    <button class="btn border showPasswordToggle" type="button" id="button-addon2"><i class="far fa-eye"></i></button>
                  </div>
                </div>
                <div class="password-feedback invalid-feedback" style='display:none;'>
                </div>

                {% include 'partials/_alerts.html' %}

                <div class="custom-control custom-checkbox mt-2">
                    <input type="checkbox" class="custom-control-input" id="terms" name="terms">
                    <label class="custom-control-label" for="terms">I agree to Terms of Use</label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="privacy_policy" name="privacy_policy">
                    <label class="custom-control-label" for="privacy_policy">I agree to the Privacy Policy, including use of cookies</label>
                </div>

                <div class="checkbox-feedback invalid-feedback" style='display:none;'>
                </div>

                <!-- reCAPTCHA input -->
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

                <!-- Submit -->
                <input type="submit" name='submitBtn' value='Sign Up' id='submitBtn' class='btn btn-success fw-bold px-3 py-1 btn-block mt-2' style='letter-spacing: 1px;'>
            </form>

        </div>
    </div>
</div>

{% include 'partials/_cookieBanner.html' %}

<script src='{% static "js/register.js" %}'></script>

{% endblock %}
