{% extends 'base_auth.html' %}

{% block content %}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="fw-bold mb-0">Reset Password</h5>
                <p class="mb-2 font-size-09 text-muted ">Please enter your email to get reset link</p>
                <form action="{% url 'request-password' %}" method='POST'>
                    {% csrf_token %}

                    <div class="mb-2">
                        <input type="email" name="email" id="emailField" class="form-control form-control-sm" placeholder='Email' value='{{ values.email }}'>
                    </div>

                    {% include 'partials/_alerts.html' %}

                    <div class="d-grid gap-2">
                        <input type="submit" class='btn btn-sm btn-primary submit-btn fw-bold' style="letter-spacing: 0.5px;" value='Submit'>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
