{% extends 'base.html' %}
{% load static %}
{% block title %}Social Media Platforms{% endblock %}

{% block content %}
<div class="row mx-0 px-3 mt-5">
    <p class='text-center font-size-09 text-secondary fw-bold mb-1'>Summary</p>

    <div class="col-12 col-md-10 col-xxl-8 offset-md-1 offset-xxl-2 card mb-2">
        <div class="row text-center py-2">
            <div class="col">
                <span class='fw-bold font-size-12' id='summary_visitors'></span><br>
                <span class='fw-bold font-size-08 text-muted'>
                    <div class='views-dot me-1'></div> UNIQUE VIEWS
                </span>
            </div>
            <div class="col">
                <span class='fw-bold font-size-12' id='summary_links_clicks'></span><br>
                <span class='fw-bold font-size-08 text-muted'>
                    <div class='link-dot me-1'></div> LINKS CLICKS
                </span>
            </div>
            <div class="col">
                <span class='fw-bold font-size-12' id='summary_lcpr_percent'></span><br>
                <span class='fw-bold font-size-08 text-muted'>
                    <div class='link-dot me-1'></div> LCPR 
                    <i class="far fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Link Click Through Rate - number of link clicks devided through the number of unique profile views."></i></span>
            </div>
        </div>
    </div>
    
    
    <div class="col-12 col-md-10 col-xxl-8 offset-md-1 offset-xxl-2 px-0 mt-4">
        <p class='text-center font-size-09 text-secondary fw-bold mb-1'>Search By Date</p>
        <div id="reportrange" class='rounded' style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
    </div>

    <div id="charts-container" class='p-0'>
        
    </div>

</div>



<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script>
<script type="text/javascript" src="{% static 'js/dashboard-links.js' %}"></script>
{% endblock %}
